p {
    font-family:Calibri; 
    font-size:larger; 
    font-weight:bold;
}
input {
    outline-style: none;
    border: 1px solid #ccc;
    border-radius: 3px;
    height: 30px;
    font-size: large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
input:focus {
    border-color: #66afe9;
    outline:  0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,.075),0 0 8px rgba(102,175,233,.6);
    box-shadow: inset 0 1px rgba(0, 0, 0, 075,0 0 8px rgba(102,175,233,.6)
}
div{
    padding: 30px;
}
